<div>
    <div class="row">
        <div class="small-12 columns">
            <h1 class="flat pageTitle">{{title}}</h1>
        </div>
    </div>

    <div ng-if="subtitle != ''" class="row">
        <h2 class="h3 flat primary pageSubTitle">{{subtitle}}</h2>
    </div>
    <div ng-if="description != ''">
        <p ng-if="description != ''">{{description}}</p>
        <br>
    </div>
</div>

    <!-- Child content of the applicaiton page will be transcluded (rendered) here -->
    <div ng-transclude></div>

<!-- Main Body DIV transcluded.  (i.e. this is where the parent element children are displayed-->
