@import "../../atoms/global/fonts";

/*doc
---
title: Footer
name: footer
category: Molecules
---


```html_example
<footer>
    <div class="row">
        <div class="small-7 columns">
            <small class="blurb left">
                <span class="copyright">
                    &#169; 2014 PubMatic, All Rights Reserved.
                </span>
                <span class="tagline">
                    Every ad. Every sales channel. Every screen. One platform.
                </span>
            </small>
        </div>
        <div class="small-5 columns">
            <span class="buttons right">
                <span class="button small feedback-button">Give us feedback</span>
            </span>
            <small class="links right">
                <a href="#">Need help?</a> <span class="bullet"></span> <a href="#">Support</a>
            </small>
            
        </div>
        <div class="clearfix"></div>
</footer>
```

*/



footer {
    color: transparentize($gray,.25);
}
// Hide the tagline and show it on hover
footer small.blurb {
    margin-top: 9px;
    margin-left: 20px;
}
footer small.blurb:hover .copyright {
    display: none;
}
footer small.blurb:hover .tagline {
    display: inline;
}
footer small.blurb .tagline {
    display: none;
}
// Links styling
footer small.links {
    margin-top: 9px;
}
footer small.links a {
    color: transparentize($gray,.25);
    text-decoration: none;
}
footer small.links a:hover {
    color: $primary-color;
    text-decoration: underline;
}
// Footer buttons
footer span.buttons {
    margin-top: 8px;
    margin-right: 20px;
}
footer span.bullet:before {
    content: '\2022';
    padding: 0 5px;
}
footer span.feedback-button {
    transition: all 0.15s ease;
    margin-left: 10px;
    color: $gray;
}
footer span.feedback-button:hover {
    color: $white;
    background-color: $primary-color;
    border: 2px solid $primary-color;
    // margin-top: 25px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
    z-index: 3000;
    background :-webkit-linear-gradient(bottom, rgba(253,253,253,.85), #FDFDFD);
    background :linear-gradient(to bottom, rgba(253,253,253,.85),#FDFDFD);

    :hover {
        background: $black;
        transition: background 0.35s ease; 
        .buttons > .button {
            color: $white;
        }
    }
}





