/*doc
---
title: Ordered Lists
name: ordered-list
category: Atoms
parent: lists
---
<small>
    atoms/lists/_ordered.scss<br>
    last updated 8/31/14 &ndash; <span class="alert label">Broken - list doesn't show order numbers</span>
</small>

```html_example
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
    </ol>
```

*/

