/*doc
---
title: Data Tables
name: data-table
category: Atoms
parent: tables
---
<small>
    atoms/tables/_data-table.scss<br>
    last updated 8/31/14 &ndash; 
</small>

Tables automagically inherit base styles, and assume 100% width of the container they are placed in. Use `.primary-stripe` or `.secondary-stripe` for zebra striping options.

##Primary stripes

```html_example
  <table class="primary-stripe">
    <thead>
      <tr>
        <th>Column 1</th>
        <th>Column 2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cell 1</td>
        <td>Cell 2</td>
      </tr>
      <tr>
        <td>Cell 1</td>
        <td>Cell 2</td>
      </tr>
      <tr>
        <td>Cell 1</td>
        <td>Cell 2</td>
      </tr>
    </tbody>
  </table>
```

##Secondary stripes

With `.secondary-stripe`:

```html_example
  <table class="secondary-stripe">
    <thead>
      <tr>
        <th>Column 1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cell 1</td>
      </tr>
      <tr>
        <td>Cell 1</td>
      </tr>
      <tr>
        <td>Cell 1</td>
      </tr>
    </tbody>
  </table>
```

##Row hover

If you want selection hovers, add `.hover`:

```html_example
  <table class="secondary-stripe hover">
    <thead>
      <tr>
        <th>Column 1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cell 1</td>
      </tr>
      <tr>
        <td>Cell 1</td>
      </tr>
      <tr>
        <td>Cell 1</td>
      </tr>
    </tbody>
  </table>
```

##Primary selection

Show a primary selection with `.selected` (goes great with `.primary-stripe`):

```html_example
  <table class="primary-stripe">
    <thead>
      <tr>
        <th>Column 1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="selected">Cell 1</td>
      </tr>
      <tr>
        <td>Cell 1</td>
      </tr>
      <tr>
        <td>Cell 1</td>
      </tr>
    </tbody>
  </table>
```

##Secondary selection

Show a secondary selection with `.active` (looks amazing with `.secondary-stripe`):

```html_example
  <table class="secondary-stripe">
    <thead>
      <tr>
        <th>Column 1</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="active">Cell 1</td>
      </tr>
      <tr>
        <td>Cell 1</td>
      </tr>
      <tr>
        <td>Cell 1</td>
      </tr>
    </tbody>
  </table>
```

##Table under header

If you have a table that will be directly under a header or `<hr>`, add `.first` to the table to remove the table's top border.

```html_example
  <h1 class="flat">One Thing</h1>
  <hr>
  <table class="data-table secondary-stripe first">
    <thead>
      <tr>
        <th>One Table</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>One Item</td>
      </tr>
    </tbody>
  </table>
```

##Empty tables

<small>
    last updated: 8/31/14 &ndash;
    <span class="label alert">Not working</span>
</small>

When tables are devoid of data (such as offline connection, zero state), they can show this through `.empty`.

```html_example
  <table class="empty">
    <thead>
      <tr>
        <th>Dimensions</th>
      </tr>
    </thead>
    <tbody>
      <td>None selected</td>
    </tbody>
  </table>
```

##Top 10 Tables
<small>
  last updated 8/31/14 &ndash;
  <span class="label yield">move this to separate partial _data-table-top-10.scss</span>
</small>

Tables for a Top 10 list have special styling to further emphasize the Top 3. It's got bigger numbers using Lato, a focused highlight on the Top 3 with a hover highlight for the full list. Just tell it, hey man, you're `.top-10`. This currently only supports 3 columns in this specific format. More flexible configurations coming soon.

```html_example

  <table class="top-10">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Buyer</th>
        <th>Revenue</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1.</td>
        <td>ESPN</td>
        <td>$257</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>AOL</td>
        <td>$42</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>ADS</td>
        <td>$31</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Netmining</td>
        <td>$21</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Allstate Life Insurance</td>
        <td>$19</td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Geico</td>
        <td>$15</td>
      </tr>
      <tr>
        <td>7.</td>
        <td>Conversant</td>
        <td>$15</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Amnet</td>
        <td>$13</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>Accuen</td>
        <td>$10</td>
      </tr>
      <tr>
        <td>10.</td>
        <td>Xaxis</td>
        <td>$10</td>
      </tr>
    </tbody>
  </table>
  <div class="clearfix"></div>
```

##Drag &amp; Drops

If you want to do dynamic drag-and-drops from a data-table, add `.drag-and-drop-move` to the `<tr>` being dragged.

```html_example
<table>
  <tbody>
    <tr class="drag-and-drop-move">
      <td>Draaaaaagg me</td>
    </tr>
  </tbody>
</table>
```

*/

// Styling for numeric values
.data-text {
    text-align: right;
    font-family: $data-font;
}
.data-text-large {
  @extend .data-text;
  font-size: 1.5em;
}
.data-text-small {
  @extend .data-text;
  font-size: 1em;
}


// Base table styling
table  {
  width: $full-width;
  border-spacing: 0 0;
  margin-bottom: 25px;
  table, td {
    border-left: none;
    border-right: none;
  }
  th {
    // background-color: #FEFEFE;
    text-align: left;
    border-top: 1px solid $light-gray;
    border-bottom: 2px solid $black;
    letter-spacing: -.03em;
    padding: 10px 10px;
    font-size: 1em;
    font-weight: 600;
    font-color: $black;
    line-height: 1em;
    text-align: left;
    //
    width: 1px;
  }
  tr {
    border-bottom: 1px solid transparentize($black,.95);
  }
  td {
    padding: 3px 10px;
    vertical-align: top;
    // white-space: nowrap;
  }
}

// When a table cell is selected
table td.selected {
  background-color: $primary-color;
  color: $white;
}

// When a table is under a header or <hr>, remove top border from table
table.first th {
  border-top: 0;
}

// TOP 10 - much of this is hard-coded for 3 column use case
// Needs to be broken out
table.top-10 {
  @extend table ;
  th:nth-child(1) {
    width: 10%;
    font-size: .8em;
    vertical-align: middle;
  }
  th:nth-child(2) {
    text-align: center;
  }
  th:nth-child(3) {
    @extend th:nth-child(1);
    width: 12%;
  }
  // Highlight the top 3 rows with a light-blue stripe
  tr:nth-child(-n+3) {
    background-color: transparentize(#C3DBF3,.90);
  }
  // From row 4 onwards, highlight even rows with a light grey
  tr:nth-child(2n+4) {
    background-color: transparentize($black,.99);
  }
  // Emphasizing split between top 3 and 4 - 10
  tr:nth-child(3) {
    border-bottom: 1px solid $black;
  }
  // #4 onwards, dim text
  tr:nth-child(n+4) {
    color: transparentize($black,.60);
  }
  td:first-child {
    text-align: center;
  }
  // Attach base data-font
  td:nth-child(3) {
    @extend .data-text-large;
  }
}

// Dims first character, such as currency symbols in Top 10 table
.dim-first-character:nth-child(3):first-letter {
    // font-family: $primary-font;
    // font-size: 1em;
    color: transparentize($gray,.75);
  }

// Since rows 4+ are dimmed, this makes text fully visible on hover
table.top-10:hover tr {
  color: $black;
  transition: all 0.15s ease;
}

// Styling for empty table - dimmed
table.empty {
  @extend table ;
  table, th, td {  
  }
  th { 
    border-bottom: 2px solid $light-gray;
  }
  tr:nth-child(2n) {
    background-color: transparentize($black,.99);
  }
  border-bottom: 0px;
  color: $gray;
}

// Activates row hovers
table.hover {
  tbody tr:hover {
    cursor: pointer;
    background-color: $primary-color;
    color: $white;
    transition: all 0.15s ease;
    a {
      color: $white;
    }
  }
  tbody tr.disabled {                                 /* Styling for empty cell - dimmed */
    border-top: 1px solid transparentize($black,.95);
    border-bottom: 1px solid transparentize($black,.95);
    color: $secondary-color;
    cursor: not-allowed;
  }
  tbody tr.disabled:hover {
    cursor: not-allowed;
    background-color: $white;
  }
}

// Hover styling for drag icon
table i[class^="th-bars"]:hover {
  color: $primary-color;
  cursor: pointer;
}

// Styling for pubrow directive, when dragged
.drag-and-drop-move {
  opacity: .3;
  border: $border-width dotted $primary-color;
} 

// Container for a horizontal scroll table
.table-container {
  width: 100%;
  overflow-x: scroll;
  // @include border-radius($border-radius);
  // border: 2px solid $light-gray;
}

// Side 'fades' for the container
// .table-container:after {
//     background :-webkit-linear-gradient(left, rgba(253,253,253,0), #FDFDFD);
//     background :linear-gradient(to right, rgba(253,253,253,0),#FDFDFD);
//     content: '';
//     height: 100%;
//     right: 0;
//     top: 0;
//     width: 100px;
//     position: absolute;
//     z-index: 2000;
// }






